.wrapper-background {
	margin: 0;
	padding: 0;
	min-width: 100%;
	width: auto;
	min-height: 100vh;
	height: auto;
	background: url('../../public/background.png') no-repeat center center;
	background-size: contain;
	position: absolute;
}

.modal-backdrop-blur {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	background: #0e1d7463 !important;
	z-index: 1040;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.menuBtn {
	position: absolute;
	color: white !important;
	border-color: white;
	left: 0px;
	font-size: 24px !important;
}

.menuCloseBtn {
	position: relative;
	align-self: flex-end;
	display: block !important;
	color: white !important;
	font-size: 25px !important;
}

.navbar {
	justify-content: center !important;
	border-bottom: 1px solid #d9d9d949;
}

.description {
	flex-direction: column;
	justify-content: space-around;
}

.descTexts {
	flex-basis: 60vh;
}

.descBtns {
	flex-direction: column;
	align-items: center;
}

.transparent-button {
	background: rgba(158, 157, 157, 0.712) !important;
	-webkit-backdrop-filter: blur(10px) !important;
	backdrop-filter: blur(10px) !important;
}

.transparent-button > i {
	color: white;
}

.transparent-button > span {
	color: white;
}

.links {
	display: flex;
	flex-direction: column;
  align-items: self-start;
	gap: 20px;
}

.sidebarLink {
	font-size: 14px;
	font-weight: bold !important;
	color: white !important;
	padding: 0px !important;
	padding-bottom: 11px !important;
  border: 3px solid transparent !important;
}

.active {
  color: white !important;
  border-bottom: 3px solid #00FFD0 !important;
}